:root {
    --first-color: #989e9c;
    --second-color: #dfd3bb;
    --third-color: #b9b49e;
    --fourth-color: #72858c;
    --fith-color: #b1a189;
    --sixth-color: #30414b;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    flex: 1 1 auto;
    height: 10%;
    background-color: var(--third-color);
    display: flex;
    padding: 10px 40px;
    gap: 20px;
}

.header div {
    flex: 1;
    padding: 0;
}

.buttons {
    display: flex;
    gap: 30px;
}

.buttons div {
    flex: 1;
}

.buttons div button {
    background-color: transparent;
    border: 3px solid var(--sixth-color);
    color: var(--sixth-color);
    width: 250px;
    height: 80px;
    font-size: large;
    font-weight: bold;
}

.title {
    color: var(--sixth-color);
    font-size: 26px;
    font-family: 'Marker Felt', fantasy;
}

.colored {
    background-color: #30414b;
}

.container {
    flex: 1 1 auto;
    height: 90%;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 600px;
    width: 600px;
    border: 4px solid var(--fourth-color);
    display: flex;
    flex-wrap: wrap;

}

.grid-container div{
    border: 1px solid var(--fourth-color);
    box-sizing: border-box;
    width: 6.25%;
    height: 6.25%;
}

.grid-container div:hover {
    background-color: #989e9c;
}


